@media only screen and (max-width: 767px)
{
	body {
		margin-bottom: 120px;
	}
	.logo img {
	    max-width: 70%;
	    max-height: auto;
	}
	.menu a{
	 	font: normal 0.5em 'Paytone One',sans-serif;
    	padding: 5px;
	}
	.container {
	display: flex;
	justify-content: center;
	margin-top: 20px;

}
	input {
		padding: 5px;
		margin-bottom: 10px;
	}	
	footer {
		position: fixed;
		left: 0;
		bottom: 0;
		right: 0;
	}
    .link a {
        font-size: 0.7em
    }
}