@media only screen and (min-width: 992px)
{
		body {
		margin-bottom: 80px;
	}
.menu a{
	 font: normal 1em 'Paytone One',sans-serif;
    padding: 15px;
	}
.container {
	display: flex;
	justify-content: center;
	margin-top: 40px;

}
	input {
		padding: 5px;
		margin-bottom: 10px;
	}
.link {
	display: flex;
}
	footer {
		position: fixed;
		left: 0;
		bottom: 0;
		right: 0;
	}
}