@media only screen and (max-width: 767px)
{
	.logo img {
    max-width: 70%;
    max-height: auto;
	}
	.menu a{
	 font: normal 0.5em 'Paytone One',sans-serif;
    padding: 5px;
	}
	.gallery {
	display: flex;
	flex-direction: column;
	margin-top: 80px;
	justify-content: center;
	}
.image img {
	max-width: 100%;
	max-height: auto;
	border-radius: 10px;

	}
.image p {
	margin: 0;
	font: bold 1.5em 'Dancing Script';
	color: darkcyan;
	text-align: center;
	padding-bottom: 15px;
	}
	    .link a {
        font-size: 0.7em
    }
}