.hinh-anh img {
    width: 100%;
    border-radius: 5%;
}

.paragraph {
    margin: 0 0 7px 0;
    text-align: justify;
    text-indent: 20px;
}
.caption {
    margin: 0;
    text-align: center;
    font-style: italic;
}
h3 {
    margin-bottom: 7px;
}
h4 {
    margin: 0;
    padding: 5px 0;
}
.link {
    display: flex;
}
