@media only screen and (max-width: 767px)
{		
	.logo img {
	    max-width: 70%;
	    max-height: auto;
	}
	.menu a{
	 font: normal 0.5em 'Paytone One',sans-serif;
    padding: 5px;
	}
	h3 {
    padding-top: 40px;
    text-align: justify;
	}

	.images {
    display: flex;
    flex-direction: column;
    text-align: center;
	}
	.caption {
    bottom: 40px;
    font: bold 1.2em 'Dancing Script', sans-serif;
	}
    .link a {
        font-size: 0.7em
    }
}