body {
    box-sizing: border-box;
    margin: auto;
}
main {
    padding: 0 10px;
}
    .menu a{
     font: normal 0.5em 'Paytone One',sans-serif;
    padding: 5px;
    }
.images img {
    max-width: 100%;
    border-radius: 5%;
}

.paragraph {
    margin-top: 0;
    text-align: justify;
    text-indent: 20px;
}
.caption {
    position: relative;
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    color: whitesmoke;
    text-shadow: 1px 1px 0 blue, 0 0 10px blue;
    text-align: center;
}
.link {
    display: flex;
}