body {
    box-sizing: border-box;
    margin: auto;
}
.row {
    content: "";
    clear: both;
    display: block;
}
main {
    margin-top: 70px;
    }
.thang-canh img {
    max-width: 100%;
    max-height: auto;
    border-radius: 5%;
}

.thongtin p {
    text-align: justify;
}
.caption {
    margin: 0;
    text-align: center;
    font-style: italic;
}
h3 {
    margin-bottom: 7px;
    font-family: 'Paytone One';
}
