@media only screen and (min-width: 992px)
{	
	body {
		padding: 0;
		background: url(../images/trong-dong.svg) center no-repeat;
		background-size: 100%;
	}
		.menu a{
	 font: normal 1em 'Paytone One',sans-serif;
    padding: 15px;
	}
	main {
		display: flex;
		flex-direction: column;
	}
	.thang-canh {
		display: flex;
		align-items: center;
	}
	.thang-canh img {
		margin: 0 10px 10px 0;
		border: 5px solid lightblue;
	}
	.thang-canh h3 {
		margin-top: 0;
	}
	.link {
		display: flex;
	}
}
