@media only screen and (min-width: 992px)
{	
	body {
		padding: 0;
		background: url(../images/trong-dong.svg) center no-repeat;
		background-size: 100%;
	}
	main {
		display: flex;
		flex-direction: column;
	}
	.navbar {
		height: 60px;
		padding: 0 20px;
	}
	.thang-canh {
		display: flex;
		align-items: center;
	}
	.thang-canh img {
		margin: 0 10px 10px 0;
		border: 5px solid lightblue;
	}
	.thang-canh h3 {
		margin-top: 0;
	}
	.link {
		display: flex;
		justify-content: space-between;
		padding: 0 100px;
	}
	.link a {
		display: block;
	}
}